In [1]:
import io
import pandas as pd

TERRA_INFO = "../data/processed/terra/terra_hourly_transfer_volume_by_contract.csv"

In [2]:
df = pd.read_csv(TERRA_INFO)
df.head()

  token                  timestamp  gross_transfer_volume  num_transfers
0   DAI  2022-04-01 11:00:00+00:00           2.174219e+07            333
1   DAI  2022-04-01 12:00:00+00:00           1.555625e+08            527
2   DAI  2022-04-01 13:00:00+00:00           8.395249e+07            563
3   DAI  2022-04-01 14:00:00+00:00           3.416577e+07            502
4   DAI  2022-04-01 15:00:00+00:00           2.886561e+07            540

In [4]:
ustc = df[df["token"] == "USTC"].copy()
ustc.head(), ustc.tail()

(    token                  timestamp  gross_transfer_volume  num_transfers
 119  USTC  2022-04-01 11:00:00+00:00           1.058221e+07             71
 120  USTC  2022-04-01 12:00:00+00:00           4.988686e+06             72
 121  USTC  2022-04-01 13:00:00+00:00           1.926639e+08            237
 122  USTC  2022-04-01 14:00:00+00:00           3.274675e+07            173
 123  USTC  2022-04-01 15:00:00+00:00           1.505007e+07            128,
     token                  timestamp  gross_transfer_volume  num_transfers
 144  USTC  2022-04-02 12:00:00+00:00           4.787258e+06            108
 145  USTC  2022-04-02 13:00:00+00:00           6.550568e+06            116
 146  USTC  2022-04-02 14:00:00+00:00           7.556280e+06            115
 147  USTC  2022-04-02 15:00:00+00:00           9.388636e+06            105
 148  USTC  2022-04-02 16:00:00+00:00           7.049479e+05             32)